:root { 
--black_900_4c:#0000004c; 
--black_900_75:#00000075; 
--white_A700_e2:#ffffffe2; 
--black_900:#000000; 
--gray_900:#1a1a1a; 
--black_900_0c:#0000000c; 
--gray_200:#f1f0f0; 
--white_A700:#ffffff; 
--red_A700:#fc0000; 
}